﻿@using Angularjs.MvcHelpers.Mvc
@using AngularJs.Mvchelpers.Demo.Runtime
@model ModelWrapper<ItemViewModel, ItemDataModel>

@{
    ViewBag.Title = "title";
    Layout = "/Views/_layout.cshtml";
    
}

<h2>title</h2>

<form name="myForm" novalidate class="css-form" ng-submit="addQuantity()" ng-controller="SampleController">

    <ul>
        <li ng-repeat="error in Errors">{{error.Error.ErrorMessage}}</li>
    </ul>

    <div ng-show="isViewLoading"> Angular is loading the Data Model... </div>
    
    
    @Html.Label(x => x.PriceLabel)
    @Html.TextBoxFor(x => x.Price)
    @Html.DisplayFor(x => x.Price,"span")
    
    @Html.Label(x=>x.QuantityLabel)
    @Html.TextBoxFor(x => x.Quantity,new { placeholder = @Model.ViewModel.QuantityLabel})
    @Html.DisplayFor(x => x.Quantity,"div")
    
    
    @Html.Label(x=>x.DescriptionLabel)
    @Html.TextBoxFor(x => x.Description,new { placeholder = @Model.ViewModel.DescriptionLabel})
    @Html.DisplayFor(x => x.Description,"div")
    @*@Html.NgDisplayFor(x => x.Price, "span", true)
    
    *@
    <br />
    <br />

    @*@Html.NgDropDownListFor(x=>x.SelectedOption, new SelectList(Model.ItemType, "Value", "Text"))*@
    @*@Html.NgValidationMessageFor(x => x.SelectedOption, "myForm")*@
    <br />
    <br />
    @*@Html.DisplayFor(x=>x.QuantityLabel)*@
    @*@Html.NgTextBoxFor(x => x.Quantity)*@
    @*@Html.NgValidationMessageFor(x => x.Quantity, "myForm")*@
    <br />
    <br />
    @*@Html.DisplayFor(x=>x.NameLabel)*@
    @*@Html.NgTextBoxFor(x => x.Name)*@
    @*@Html.NgValidationMessageFor(x => x.Name, "myForm") *@
    <br />
    <br />



    <input type="submit" ng-disabled="!myForm.$valid" value="validated submit" />
    <input type="submit" value="non-validated submit" />
</form>
