﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="sampleApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var serverUrls =
        {
            apiServiceUrl: '@System.Web.Configuration.WebConfigurationManager.AppSettings["apiServiceUrl"]'
    };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="~/Scripts/App/sample.js"></script>
    <!--
    //STR - add styles for validation
    -->
    <style type="text/css">
        .css-form input.ng-invalid.ng-dirty {
            background-color: #FA787E;
        }

        .css-form input.ng-valid.ng-dirty {
            background-color: #78FA89;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
